.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
}
ul {
  width: 80%;
  margin: 2vmin auto;
  text-align: left;
  list-style: none;
}
li{
  border: 1px solid gainsboro;
  padding: 5px;
}
li:hover{
  cursor: -webkit-grab;
  cursor: grab;
  border: 1px solid#be61fb;
}
ul button {
  float: right;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}
ul button:hover {
  background: #2c384e;
  color: white;
}
ul button:active {
  background: #2c384e;
  color: white;
}


.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  margin-bottom: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.help{
  border: 1px solid#85cee2;
  list-style-type: none;
  
}



